body {
    overflow-x: hidden;
    
    color: black;
    background-image: url(../img/bckgrnd.jpg);
    background-size: auto;
    background-repeat: repeat;
  }

  .top-bar {
    background-image: url(../img/pozadina.jpg!d);
    height:  2rem;
    padding: .5rem 0;
  }
  
  .top-bar a {
    color: white;
    text-decoration: none;
    font-size: 1,1rem;
  }

.nav-brand img{
    height: 5rem;
  }
  .nav-brand{
    color: black;
    font-size: 2rem;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .navbar {
   
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .5);
    z-index: 1;
  }
  
  .nav-item{
    padding: 0.5rem;
  }
  
  .nav-link{
    color: black !important;
  }

  .dropdown-menu{
      background-color: orange;
  }

  .dropdown-item{
    color: black;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .border-primary {
    border-top: .2rem solid rgb(255, 165, 0) !important;
  }
  
  .text-dark.pt-4{
      font-size: 3rem;
      color:  orange !important;
      text-shadow: 5px 5px 5px black;
  }

  
  .col-sm-3.my-4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: white;
    border-left: 0.4rem solid orange !important;
    box-shadow: 5px 5px 5px 5px black;
    background-image: url(../img/pozadina.jpg!d);
}

.my-4.desc
{
    background-color: orange;
    color: black;
}

.container3{
    background-color: orange;
    color: white;
  }
  
  .website{
    color: white;
  }
  
  
  .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
  #demo{
   
    font-size: 2rem;;
  }

 





/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}